* {
    padding: 0;
    margin:0 ;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
  }
  

   
  body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f0f6;     
   }
  
  body::-webkit-scrollbar-thumb {
    background-color: #91c041;   
    border-radius: 20px;       
    border: 3px solid #f1f0f6; 
  }
  a {
      text-decoration: none;
  }
  
  .ativo {
      text-decoration: underline;
  }


header {
    display: flex ;
    align-items: center;
    background-color: #91c041;
    height: 30px;
    font-size: 10px;
}

.cabeca {
    display: flex ;
    color:white;
    padding-left: 10%;
}
.cabeca1{
    color: white;
    display: flex;
    padding-left: 3%;
}
.cabeca2 {
   padding-left: 67%;
    display: flex ;
    color: white; 
}
.header {
    background-color: #f1f0f6; 
    height: 101px;
    display: flex;

    height: 12%;
    box-shadow:0px 10px 5px #e4e3e3;
    margin: 0 auto;
     
}

.header img {
    width: 150px;
    min-width: 300px;
    display: flex;
    align-items: center;
    margin-left: 10%;
}


.header h2 {
    color: #545454;
    text-align:center ;
}

.hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    width: 70%;
    margin-right: 10%;
}

.hd2 {
    display:flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 35%;
}

.botoes {
    display: flex;
    width: 40%;
    justify-content:space-between;
}

.botao {
    background-color: #F9B15D;
    height: 40px;
    width: 130%;
    display:  flex;
    border-radius: 10px;
    place-items: center;
    font-size: 15px;
    margin-top: 1px;
    justify-content: center;
    color: white;
    border: 3px;
    border-style: solid;
    border-color:#F9B15D;
}


.doar {
    background-color: #F9B15D;
    border: 3px;
    border-style: solid;
    border-color:#F9B15D;
    height: 40px;
    width: 180%;
    display:  flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.entrar {
    border: 3px;
    border-style: solid;
    border-color:#91C041;
    background-color: #f1f0f6;
    height: 40px;
    width: 130%;
    display:  flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #91C041;
    font-size: 15px;
}

.box {
    display: flex;
    height: 400px;
    left: 100%;
    background-color: #FFFBD8;
   margin-top: 3%;
   color: #91C041;
   font-size: 40px;
}

.separa {
    display: flex;
    height: 700px;
    left: 100%;
    background-color: white;
}
.caixa1 {
    background-color: #f1f0f6;
    height: 80%;
    width: 20%;
    border-radius: 10px;
    margin: 4%;
    margin-left: 6%;
    box-shadow:5px 10px 5px #e4e3e3;
}

.caixa2 {
    background-color: #f1f0f6;
    height: 100%;
    width:100%;
    border-radius: 10px;
    margin-left: 110%;
    box-shadow:5px 10px 5px #e4e3e3;
}

.caixa3 {
    background-color: #f1f0f6;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-left: 110%;
    box-shadow:5px 10px 5px #e4e3e3;
}

.caixa4 {
    background-color: #f1f0f6;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-left: 110%;
    box-shadow:5px 10px 5px #e4e3e3;
}

.rodape {
    height: 100px;
    width: 100%;
    background-color: #91C041;
    color: white;
    font-size: 24px;
}